<div class="row">
  <div class = "span3">
  <% if current_user %>
    <% if current_user.tag_groups.any? %>
      <%= render :partial => '/tag_groups/sidebar' %>
    <% end %>
  <% end %>
  </div>

  <div class = "span5">

    pfvšoakqgjrp jerjg iejwrgiojewrgooewgjieg ejwrgioejwrgioj 

    <% if !signed_in? %>

     <p>New user? <%= link_to "Sign up bro!", signup_path %></p>
     
    <% end %>
  </div>
</div>
