
  <% if current_user %>
    <% if current_user.tag_groups.any? %>
    <p> Your tag groups: </p>
    	<% current_user.tag_groups.each do |tag_group| %>
    		<%= link_to tag_group.name, tag_group %> |
    		<%= link_to 'delete', tag_group, method: :delete %> 
    		<br>
    	<% end %>
    <% end %>
    <br><br> Make a new tag group:<br><br>
  <% @tag_group = current_user.tag_groups.new() %>
  <%= render :partial => '/tag_groups/form' %>
  <% end %>

  <br>

  <% if !signed_in? %>

   <p>New user? <%= link_to "Sign up bro!", signup_path %></p>
  <% end %>
